# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build_error.txt
build_out.txt
build_full.log

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
